# Sanitized snapshot of /etc/systemd/system/gitea.service

[Unit]
Description=Gitea (Git with a cup of tea)
After=network.target

[Service]
Type=simple
User=git
Group=git
WorkingDirectory=/var/lib/gitea
Environment=USER=git HOME=/home/git GITEA_WORK_DIR=/var/lib/gitea

ExecStart=/usr/local/bin/gitea -c /etc/gitea/app.ini -w /var/lib/gitea web

Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
